h1 {
    color:blue
}

h4 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
img {
    float: right
}
body {
    background-color: aquamarine;
}
button {
    display: block;
}