body {
    background-color: greenyellow;
}
h2 {
    display: inline;
    margin: auto;
    padding: 20px;
}
img {
    width: 400px;
    height: 400p;
    float: right;
}
a {
    margin: auto;
    display: block;
}
#weblink {
    /* display:inline-block; */
}

#weblink-wrapper {
display:flex;
justify-content: center;
width: 100%;
align-items: center; 
gap:30px;

}